body {
  margin: 0;
}

.header {
  min-width: 100vw;
  padding: 10px;
  background-color: #2d742d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  margin: 0;
  padding: 0;
  z-index: 100;
  border: 1px solid black;
}